# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution/packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.env

# IDE specific
.idea/
.vscode/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite3